p {
  text-align: center;
}

section {
  width: 960px;
  text-align: center;
}

section img {
  max-width: 250px;
  max-height: 200px;
  margin: 30px 30px;
  display: inline-block;
  border: solid;
}

#list {
  text-align: left;
  display: inline-block;
}

#myChart {
  position: relative;
  top: 30px;
  display: inline-block;
  /*background-color: lightgrey;*/
}

#draw-chart {
  position: absolute;
  margin-top: 5px;
  left: 500px;
}

#display-list {
  position: absolute;
  margin-top: 5px;
  left: 450px;
}
